<div class="section">
  <h1 class="text-center">Time to go for a test drive</h1>
  <h4 class="text-center"><%= YAML.load(session[:car]).show_car %></h4>
</div>

<div class="heading">
  <h4 id="speed">Current Speed: <%= YAML.load(session[:car]).speed %>mph</h4>

  <h4>Your lights are: <%= YAML.load(session[:car]).show_lights %></h4>
</div>

<div class="section control-group form-inline">
  <form action="/simulate/turn_lights_on_or_off" method="get">
    <input class="btn btn-md btn-primary" type="submit" value="lights"/>
  </form>

  <form action="/simulate/set_parking_brake" method="get">
    <input class="btn btn-md btn-primary" type="submit" value="parking_brake"/>
  </form>

  <form action="/car/accelerate" method="get">
    <input class="btn btn-md btn-primary" type="submit" value="accelerate"/>
  </form>

  <form action="/car/brake" method="get">
    <input class="btn btn-md btn-primary" type="submit" value="brake"/>
  </form>
</div>

<h4><%= flash[:alert] %></h4>
