<h1>Welcome to the Car Simulator</h1>

<p>Create your dream car by entering Make and Model Year below</p>

<form id="new_car" action="/car/new_car" method="get">
  <p><label for="make">Make:</label>
  <input id="make" type="text" name="make" required/></p>
  <p><label for="model_year">Model Year:</label>
  <input id="model_year" type="number" name="model_year" required/></p>
  <input type="submit" value="Click for Dream Car"/>
</form>
