<h1>CarSimulator</h1>
<h5>EXPERIENCE</h5>

<h3>Create your dream car by entering Make and Model Year below</h3>

<div>
  <form id="new_car" action="/car/new_car" method="get">
    <p><label for="make">Make:</label>
    <input id="make" type="text" name="make" required/></p>
    <p><label for="model_year">Model Year:</label>
    <input id="model_year" type="number" name="model_year" required/></p>
    <input type="submit" value="Click for Dream Car"/>
  </form>
</div>
